@import url('./plugin/swiper-dist/css/swiper.min.css');
@import url('./plugin/bootstrap-dist/css/bootstrap.min.css');
.sections {
  max-width: 600px;
}
.header-img {
  max-height: 36px;
  padding: 6px 0 0 5px;
  display: inline-block;
}
.table-head {
  width: 8rem;
}
